# Starting with the tuples 
- tuple is very similar to the list 
-creating the tuple
- Accessing the tuple 
- Editing the tuple
- Adding the elements in the tuple 
- Deleting the items from the tuple
-SOme of the operations that can be performend in the tuple
- functions in the tuple

In [ ]:
# 1. Creating the tuple

In [1]:
# 1.1 To create a empty tuple 
T1=()
print (T1)

()

In [2]:
T2=(1,2,3,4) # creating the homogenous tuples 
print(T2)

(1, 2, 3, 4)

In [3]:
# to create the hetrogenous tuple =>tuples containing the different datatype
T3=(1,2,3,"Hello")
print(T3)

(1, 2, 3, 'Hello')

In [5]:
# Creating the 2D tuple 
T4=(1,2,3,(4,5,6))
print(T4)

(1, 2, 3, (4, 5, 6))

In [6]:
# single item lai tuple banune tarika ali farak xa just incase yadi maile 
#single item ley tuple banuna kosis garye vanye
T5=(1)
print(type(T5)) # this is not the tuple if i check the type pf T5 because of the single item in the tuple

<class 'int'>

In [8]:
# another example of the  single tuple 
T6=("hello")
print(T6)
print(type(T6)) # this is also not considered as the tuple so

hello
<class 'str'>

In [9]:
# To make single element tuple we have to use the following syntax
T7=(1,)
print(type(T7)) # here the T7 is the tuple , if single element is present then after that element use comman to make the single element tuple

<class 'tuple'>

In [11]:
T8=("Hello",)
print(type(T8))

<class 'tuple'>

# look the difference above for making the single element tuple

In [12]:
# Accessing the element from the tuple
T2=(1,3,5,7)
print(T2[1]) # same as list for accessing  for both 1 D , 2 D, 3D

3

In [13]:
# same the concept of the slicing and indexing as list in the case of the tuple 
print(T2[-3])

3

In [14]:
print(T2[-4])

1

# Everything is similar in the case of tuple and list  but there the main difference is in the part of edting of the tuple than the list

# we cannot edit the tuple after once it get created is one of the main difference of the tuple from the list

In [15]:
# Example
T2=(1,2,3,4)
T2[0]=100 # we cannot edit the tuple element

TypeError: 'tuple' object does not support item assignment

In [ ]:
Tuples are immutable

# We cannot add the new element in the tuple once it get created another difference from list

In [ ]:
# Deleting the items from the tuple
- using del keyword we can delete the whole tuple but it is not possible individual elements from the tuple

In [ ]:
# operation available in the tuples
- Concatanation
-muntiply
-loop chalauna sakinxa
for i in T2:
    print(i)

-Membership function
for

In [ ]:
# can use the different functions 
- len
-max
-min
-sum
-sorted

# Tuples are read only datatype

# NOw move into datatypes Sets
-Rules in the sets
1. sets donot allow duplicate
2. set donot allow indexing/slicing
3. Sets donto allow mutable datatype
4. sets itself is the mutable datatype

In [17]:
# Creating a set 
S1={}
print(S1) # yo chai empty set jasto dekhinxa but this is not empty set , empty set banauna alikati garo hunccha
print(type(S1))  # see this is not a set this is dictionary

{}
<class 'dict'>

In [20]:
 # So if you want to make the empty you have to use the syntax like this
S1=set() # this is a empty set that is  ;;;; variable=Set()
print(S1)
print(type(S1)) # see this is the empty set

set()
<class 'set'>

In [22]:
# Now creating the homigenous set jaha chai sabbai items ko datatype same hunccha 
s1={1,2,4,6}
print(s1)
print(type(s1))

{1, 2, 4, 6}
<class 'set'>

In [24]:
# there exist muntiple datatype in the set
s2={'Hello',1,3,5,6.5} # hello last ma ayuno ko karan k ho vanye sets has no indexing 
print(s2)
print(type(s2))

{1, 3, 5, 6.5, 'Hello'}
<class 'set'>

In [25]:
# lets try the first rule of the set= doesnot allow duplicate
s4={1.1,3,3,4,4,5,5,} # yasle chai automatically duplicate remove garxa
print(s4)
print(type(s4))

{1.1, 3, 4, 5}
<class 'set'>

In [26]:
# sets donot allow the mutable datatype
s5={1,3,4,[1,3,4]} # list is mutable so error 
print(s5)
print(type(s5))

TypeError: unhashable type: 'list'

In [28]:
s5={(1,2,4),1,2,4} # see tuple is not mutable so no error is shown
print(s5)
print(type(s5))

{1, 2, 4, (1, 2, 4)}
<class 'set'>

# Sets have no indexing instead there is the concept of the hashing

In [ ]:
# Accessing the items from the Set 
- you cannot access any elements from the list 
- so in set no indexing no slicing 
- Once cannot edit the sets

In [ ]:
# Adding the elements in the set 
- by using the add function

In [30]:
s3={2,3,5}
s3.add(9)
print(s3)

{9, 2, 3, 5}

In [ ]:
# Deleting the elements from an sets
- del
-remove
-pop

In [32]:
del[s3]
print(s3)

NameError: name 's3' is not defined

In [33]:
# Remove it is use to remove the specified item or  value from the set
s4={2,6,7,9}
print(s4)
s4.remove(7)
print(s4)

{9, 2, 6, 7}
{9, 2, 6}

In [ ]:
# pop => this is used to pop the last item from an sets

# sets operation 
- there is no concatenation operation in the set although it is present in the list tuple
- you cannot muntiply the sets

In [ ]:
s1={1,2,3,5,6,7}
s2={5,6,7,9}

In [36]:
# union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 6.5, 'Hello'}

In [37]:
s1.intersection(s2)

{1}

In [38]:
s1.difference(s2)

{2, 4, 6}

In [ ]:
s1.

In [34]:
# looping and membership opearator is working 
for i in s1:
    print(i)

1
2
4
6

In [35]:
1 in s1  # memvership operator in the python

True

# Function in the sets 
- len(varible_name)
- min(variable_name)
- max(variable_name)
- sum(variable_name
- sorted(variable_name)=> to convert the set into list

# Dictionary in the python
- dictionary is the special type of the datatype where key value is present 
-Rules in the dictionary
1.dictionary has no indexing
2. dictionary is mutable types
3. keys ->immutable but values=> they can be mutable
4. keys should be unique

In [ ]:
NOte: Mutable=> List/sets/Dictionary
Immutable=>Strings/tuples/Float/int/booleans /complex

In [39]:
# creating the empty dictionary 
d={}
print(type(d))

<class 'dict'>

In [ ]:
# key value pair ma hunccha inside the curly bracis seperated by the comma

In [1]:
Dic={'Name':'Abishek Mishra','Age':19,'Address':'Kathmandu'}
print(Dic)

{'Name': 'Abishek Mishra', 'Age': 19, 'Address': 'Kathmandu'}

In [2]:
print(type(Dic))

<class 'dict'>

In [3]:
D1={[1,2,3]:'Abishek'} # this should be error because key is list and it is mutable 
print(D1)

TypeError: unhashable type: 'list'

In [ ]:
# If we use the tuple it would be correct insted of the list in the key part

In [4]:
D1={(1,2,3):'Abishek'} # it wont show the error cause key in this case is immutable
print(D1)

{(1, 2, 3): 'Abishek'}

In [5]:
D2={"Name":"Abishek","Name":"Rajan"} # keys should be unique the output is rajan because in dictionary keys should be unique , if one key appears same as previous it think that it is the updated value so this happens 
print(D2)

{'Name': 'Rajan'}

In [ ]:
# we can create 2D dictionay too

In [10]:
# Accessing items from a dictionary 
# same like list but we need the value of key to access that 
D2={"Name":"Abishek"}
print(D2['Name'])

Abishek

In [11]:
# How to Edit a dictionary 
Dic={'Name':'Abishek Mishra','Age':19,'Address':'Kathmandu'} # if i want to edit name at that case
print(Dic)
Dic['Name']='Bibek' # this is how it can be edited  
print(Dic)

{'Name': 'Abishek Mishra', 'Age': 19, 'Address': 'Kathmandu'}
{'Name': 'Bibek', 'Age': 19, 'Address': 'Kathmandu'}

In [12]:
# Add a new key value pair 
Dic={'Name':'Abishek Mishra','Age':19,'Address':'Kathmandu'}
print(Dic)
Dic['College']='Cosmos College'
print(Dic)

{'Name': 'Abishek Mishra', 'Age': 19, 'Address': 'Kathmandu'}
{'Name': 'Abishek Mishra', 'Age': 19, 'Address': 'Kathmandu', 'College': 'Cosmos College'}

In [13]:
# Deleting the values from the dictionary 
del Dic['College']
print(Dic)

{'Name': 'Abishek Mishra', 'Age': 19, 'Address': 'Kathmandu'}

In [14]:
# when i  use loop in the dictionary i only get the keys not values
for i in Dic:
    print(i)

Name
Age
Address

In [15]:
# if we want the values too in that case we can use this as 
for i in Dic:
    print(i,Dic[i]) # see the result you will get values too

Name Abishek Mishra
Age 19
Address Kathmandu

In [17]:
# in dictionary Membership also works that is 
'Abishek' in Dic

False

In [18]:
len(Dic) # number of key value pair in the dictionary

3

In [19]:
min(Dic)

'Address'

In [21]:
# to find the list of keys use 
Dic.keys()

dict_keys(['Name', 'Age', 'Address'])

In [23]:
Dic.values() # to find the values from the dictionary

dict_values(['Abishek Mishra', 19, 'Kathmandu'])